
universe = scheduler

executable = ../finalmerge.pl
error = finalmeshmerge.err
output = finalmeshmerge.out
log = finalmeshmerge.log
arguments = YYY
+AccountingGroup = "cnerg"
Notification = never

queue
