
universe = scheduler

executable = XXX/premcnp5.pl
error = dopremcnp5.err
output = dopremcnp5.out
log = dopremcnp5.log
getenv = true
arguments = 
+AccountingGroup = "cnerg"
Notification = never

queue
